<h1>Bonjour!</h1>

<p class="text-white">Pour réinitialiser votre mot de passe, veuillez visiter le lien suivant</p>

<a class="text-black font-weight-bold" href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p class="text-white">Ce lien expirera dans
	{{ tokenLifetime|date('g') }}heure(s).</p>
