{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('reset_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	<h1 class="text-center text-white">Réinitialiser votre mot de passe</h1>
	<div class="container-fluid container-md  col-lg-6 card py-5 my-5">
		{{ form_start(requestForm) }}
		{{ form_row(requestForm.email) }}
		<div>
			<small>
				Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
			</small>
		</div>

		<button class="btn btn-light">Envoyer un e-mail de réinitialisation du mot de passe</button>
		{{ form_end(requestForm) }}
	</div>
{% endblock %}
