{% extends 'base.html.twig' %}

{% block title %}Click And Collect{% endblock %}

{% block body %}

<div class="text-white text-center container">
<h1 > Click And Collect</h1>
Qu'est-ce que le click and collect ?

Également appelé "check and reserve" ou "click and pick up", ce mode de vente permet au client de réserver en ligne un ou plusieurs produits disponibles en magasin, ce qui signifie que l'enseigne dispose de la capacité technique de gérer ses stocks en temps réel. Le click and collect ne doit pas être confondu avec le retrait en magasin qui, lui, met à la disposition du consommateur des produits sous quelques jours dans un point relais. Le service fonctionne à partir d'une page produit, sur laquelle le client sélectionne les produits qu'il souhaite réserver gratuitement en magasin. Une fois son choix effectué, l'internaute est informé par une fenêtre pop in des magasins de proximité qui possèdent le produit dans leur stock. Si l'une des adresses lui convient, le client indique le magasin dans lequel il souhaite se rendre pour retirer son produit.
Quels sont les avantages du click and collect ?

Pour le consommateur, un tel procédé permet :
<ul>
  <li>un gain de temps, car il est assuré de trouver le produit qu'il souhaite ;</li>
  <li>l'association des atouts de l'e-commerce et du commerce traditionnel ;</li>
  <li>l'économie des frais de livraison ;</li>
  <li>la possibilité de réserver le produit ;</li>
  <li>un confort d'achat supplémentaire, avec la possibilité de voir et d'essayer le produit avant l'achat.</li>
</ul>
    
</div>
{% endblock %}
