{% extends 'base.html.twig' %}

{% block title %}Conditions générales de vente{% endblock %}

{% block body %}
<div class="text-white container">
<h1>Conditions générales de vente de produits en ligne à des consommateurs particuliers</h1>

 
 
Préambule 
 
Les présentes conditions générales de vente s'appliquent à toutes les ventes conclues sur le site Internet MAHASIAH.
 
Le site Internet mahasiah.fr est un service de : 
<ul>
<li>La société  SYLCA</li>
<li>située MAHASIAH, 24 RUE DE LA CHOUETTE 21000 Dijon, France</li>
<li>adresse URL du site : mahasiah.fr</li>
<li>e-mail : sylca0537@orange.fr</li>
<li>numéro de téléphone : +330380500769</li>
</ul>
Le site Internet Mahasiah commercialise les produits choisis et distribués par SYLCA.
Le client déclare avoir pris connaissance et avoir accepté les conditions générales de vente antérieurement à la passation de sa commande. La validation de la commande vaut donc acceptation des conditions générales de vente.
 
<br><br>Article 1 - Principes
Les présentes conditions générales expriment l'intégralité des obligations des parties. En ce sens, l'acheteur est réputé les accepter sans réserve.
Les présentes conditions générales de vente s'appliquent à l'exclusion de toutes autres conditions, et notamment celles applicables pour les ventes en magasin ou au moyen d'autres circuits de distribution et de commercialisation.
Elles sont accessibles sur le site internet Mahasiah et prévaudront, le cas échéant, sur toute autre version ou tout autre document contradictoire.
Le vendeur et l'acheteur conviennent que les présentes conditions générales régissent exclusivement leur relation. Le vendeur se réserve le droit de modifier ponctuellement ses conditions générales. Elles seront applicables dès leur mise en ligne.
Si une condition de vente venait à faire défaut, elle serait considérée être régie par les usages en vigueur dans le secteur de la vente à distance dont les sociétés ont leur siège en France.
Les présentes conditions générales de vente sont valables pendant toute la durée de la mise en ligne des produits proposés par SYLCA.
 
<br><br>Article 2 - Contenu
Les présentes conditions générales ont pour objet de définir les droits et obligations des parties dans le cadre de la vente en ligne de produits proposés par le vendeur à l'acheteur, à partir du site internet Mahasiah.
Les présentes conditions ne concernent que les achats effectués sur le site et distribués par SYLCA.
 
<br><br>Article 3 - Informations précontractuelles
L'acheteur reconnaît avoir eu communication, préalablement à la passation de sa commande et à la conclusion du contrat, d'une manière lisible et compréhensible, des présentes conditions générales de vente et de toutes les informations listées à l'article L. 221-5 du code de la consommation.
Sont transmises à l'acheteur, de manière claire et compréhensible, les informations suivantes :
- les caractéristiques essentielles des produits ;<br>
- le prix du produit et/ou le mode de calcul du prix ;<br>
- la date ou le délai auquel le vendeur s'engage à rendre le produit disponible ;<br>
- les informations relatives à l'identité du vendeur, à ses coordonnées postales, téléphoniques et électroniques, et à ses activités, celles relatives aux garanties légales, aux fonctionnalités du contenu numérique.
 
<br><br>Article 4 - La commande
L'acheteur a la possibilité de passer sa commande en ligne et au moyen du formulaire qui y figure, pour tout produit, dans la limite des stocks disponibles.
L'acheteur sera informé de toute indisponibilité du produit commandé.
Pour que la commande soit validée, l'acheteur devra accepter, en cliquant à l'endroit indiqué, les présentes conditions générales. Il devra valider le mode de paiement.
La vente sera considérée comme définitive :
- après l'envoi à l'acheteur de la confirmation de l'acceptation de la commande par le vendeur par courrier électronique ;<br>
- et après encaissement par le vendeur de l'intégralité du prix.
Toute commande vaut acceptation des prix et de la description des produits disponibles à la vente. Toute contestation sur ce point interviendra dans le cadre d'un éventuel échange et des garanties ci-dessous mentionnées.
 
Pour toute question relative au suivi d'une commande, l'acheteur peut appeler le numéro de téléphone suivant : +330380500769 (coût d'un appel local), aux jours et horaires suivants : du lundi au samedi, de 9h à 17h, ou envoyer un mail au vendeur à l’adresse mail suivante : sylca0537@orange.fr.
 
<br><br>Article 6 - Confirmation de commande par le vendeur
Le vendeur fournit à l'acheteur une confirmation de commande, par messagerie électronique.
La commande est alors ferme et définitive, et le Client peut procéder au retrait des produits dans les conditions fixées lors de la vente.
Il est vivement recommandé au Client de conserver cet email d'accusé de réception précisant notamment la référence de la commande. 
 
<br><br>Article 7 - Preuve de la transaction
Les registres informatisés, conservés dans les systèmes informatiques du vendeur dans des conditions raisonnables de sécurité, seront considérés comme les preuves des communications, des commandes et des paiements intervenus entre les parties. L'archivage des bons de commande et des factures est effectué sur un support fiable et durable pouvant être produit à titre de preuve.
 
<br><br>Article 8 - Informations sur les produits
Les produits régis par les présentes conditions générales sont ceux qui figurent sur le site internet du vendeur. Ils sont proposés dans la limite des stocks disponibles.
Les produits sont décrits et présentés avec la plus grande exactitude possible. Toutefois, si des erreurs ou omissions ont pu se produire quant à cette présentation, la responsabilité du vendeur ne pourrait être engagée.
Les photographies des produits ne sont pas contractuelles.
 
<br><br>Article 9 - Prix
Le vendeur se réserve le droit de modifier ses prix à tout moment mais s'engage à appliquer les tarifs en vigueur indiqués au moment de la commande, sous réserve de disponibilité à cette date.
Les prix sont indiqués en euros. Les prix tiennent compte de la TVA applicable au jour de la commande et tout changement du taux applicable TVA sera automatiquement répercuté sur le prix des produits de la boutique en ligne. 
Si une ou plusieurs taxes ou contributions, notamment environnementales, venaient à être créées ou modifiées, en hausse comme en baisse, ce changement pourra être répercuté sur le prix de vente des produits.
 
<br><br>Article 10 - Mode de paiement
Il s'agit d'une commande avec obligation de paiement, ce qui signifie que la passation de la commande implique un règlement de l'acheteur.
Pour régler sa commande, l'acheteur dispose, à son choix, de l'ensemble des modes de paiement mis à sa disposition par le vendeur et listés sur le site du vendeur. L'acheteur garantit au vendeur qu'il dispose des autorisations éventuellement nécessaires pour utiliser le mode de paiement choisi par lui, lors de la validation du bon de commande. Le vendeur se réserve le droit de suspendre toute gestion de commande et toute mise à disposition en cas de refus d'autorisation de paiement par carte bancaire de la part des organismes officiellement accrédités ou en cas de non-paiement. 
Le paiement du prix s'effectue en totalité au jour de la commande, selon les modalités suivantes :
- carte bancaire 
 
 
 
<br><br>Article 11 - Disponibilité des produits - Remboursement - Résolution
Sauf en cas de force majeure ou lors des périodes de fermeture de la boutique en ligne qui seront clairement annoncées sur la page d'accueil du site, les délais de mise à disposition seront, dans la limite des stocks disponibles, ceux indiqués à l'acheteur au moment de la vente. 
En cas d'indisponibilité du produit commandé, l'acheteur en sera informé au plus tôt et aura la possibilité d'annuler sa commande. L'acheteur aura alors le choix de demander soit le remboursement des sommes versées dans les 14 jours au plus tard de leur versement, soit l'échange du produit.
 
<br><br>Article 12 - Modalités de mise à disposition des produits
Les produits commandés sont disponibles selon les modalités et le délai précisés lors de la commande en ligne.
Les produits sont mis à disposition à l'adresse indiquée par l'acheteur lors de la commande. L'acheteur peut, à sa demande, obtenir l'envoi d'une facture à l'adresse de facturation.
 
<br><br>Article 13 - Droit de rétractation
Conformément aux dispositions du code de la consommation, l'acheteur dispose d'un délai de 14 jours à compter de la date de récupération de sa commande, pour retourner tout article ne lui convenant pas et demander l'échange ou le remboursement sans pénalité, à l'exception des éventuels frais de retour qui restent à la charge de l'acheteur.
Les retours sont à effectuer dans leur état d'origine et complets (emballage, accessoires, notice...) permettant leur recommercialisation à l'état neuf, accompagnés de la facture d'achat.
Les produits endommagés, salis ou incomplets ne sont pas repris.
Le droit de rétractation ne peut être exercé en cas de contrats de fourniture de biens confectionnées selon les spécifications du consommateur ou nettement personnalisés. 
Le droit de rétractation peut être exercé en ligne, à l'aide du formulaire de rétractation disponible sur ce site internet. Dans ce cas, un accusé de réception sur un support durable sera immédiatement communiqué à l'acheteur. Tout autre mode de déclaration de rétractation est accepté. Il doit être dénué d'ambiguïté et exprimer la volonté de se rétracter.
En cas d'exercice du droit de rétractation dans le délai susvisé, sont remboursés le prix du ou des produit(s) acheté(s).
Les éventuels frais de retour sont à la charge de l'acheteur.
L'échange (sous réserve de disponibilité) ou le remboursement sera effectué dès réception, par le vendeur, des produits retournés par l'acheteur dans les conditions prévues ci-dessus.
 
Garantie des produits
1 Garantie légale de conformité
Le vendeur est garant de la conformité du bien vendu au contrat, permettant à l'acheteur de formuler une demande au titre de la garantie légale de conformité prévue aux articles L. 217-4 et suivants du code de la consommation.
En cas de mise en oeuvre de la garantie légale de conformité, il est rappelé que :
-  l'acheteur bénéficie d'un délai de 2 ans à compter de la délivrance du bien pour agir ;<br>
-  l'acheteur peut choisir entre la réparation ou le remplacement du bien, sous réserve des conditions de coût prévues par l'article L. 217-17 du code de la consommation ;<br>
-  l'acheteur n’a pas à apporter la preuve de la non-conformité du bien durant les 24 mois en cas de biens neufs (6 mois en cas de biens d'occasion), suivant la délivrance du bien.
 
2 Garantie légales des vices cachés
Conformément aux articles 1641 et suivants du code civil, le vendeur est garant des vices cachés pouvant affecter le bien vendu. Il appartiendra à l'acheteur de prouver que les vices existaient à la vente du bien et sont de nature à rendre le bien impropre à l'usage auquel il est destiné. Cette garantie doit être mise en oeuvre dans un délai de deux ans à compter de la découverte du vice. 
L'acheteur peut choisir entre la résolution de la vente ou une réduction du prix conformément à l'article 1644 du code civil.
 
<br><br>Article 14 - Propriété intellectuelle
Le contenu du site internet reste la propriété du vendeur, seul titulaire des droits de propriété intellectuelle sur ce contenu.
Les acheteurs s'engagent à ne faire aucun usage de ce contenu ;<br> toute reproduction totale ou partielle de ce contenu est strictement interdite et est susceptible de constituer un délit de contrefaçon.
 
<br><br>Article 15 - Informatiques et Libertés
Les données nominatives fournies par l'acheteur sont nécessaires au traitement de sa commande et à l'établissement des factures.
Elles peuvent être communiquées aux partenaires du vendeur chargés de l'exécution, du traitement, de la gestion et du paiement des commandes.
Le traitement des informations communiquées par l'intermédiaire du site internet Mahasiah a fait l'objet d'une déclaration auprès de la CNIL.
L'acheteur dispose d'un droit d'accès permanent, de modification, de rectification et d'opposition s'agissant des informations le concernant. Ce droit peut être exercé dans les conditions et selon les modalités définies sur le site Mahasiah.
 
<br><br>Article 16 - Langue du contrat
Les présentes conditions générales de vente sont rédigées en langue française. Dans le cas où elles seraient traduites en une ou plusieurs langues étrangères, seul le texte français ferait foi en cas de litige.
 
<br><br>Article 17 - Médiation et règlement des litiges
L'acheteur peut recourir à une médiation conventionnelle, notamment auprès de la Commission de la médiation de la consommation ou auprès des instances de médiation sectorielles existantes, ou à tout mode alternatif de règlement des différends (conciliation, par exemple) en cas de contestation. Les noms, coordonnées et adresse électronique du médiateur sont disponibles sur notre site.
Conformément à l’article 14 du Règlement (UE) n°524/2013, la Commission Européenne a mis en place une plateforme de Règlement en Ligne des Litiges, facilitant le règlement indépendant par voie extrajudiciaire des litiges en ligne entre consommateurs et professionnels de l’Union européenne. Cette plateforme est accessible au lien suivant : https://webgate.ec.europa.eu/odr/.
 
<br><br>Article 18 - Loi applicable
Les présentes conditions générales sont soumises à l'application du droit français. Le tribunal compétent est le tribunal judiciaire.
Il en est ainsi pour les règles de fond comme pour les règles de forme. En cas de litige ou de réclamation, l'acheteur s'adressera en priorité au vendeur pour obtenir une solution amiable.
 
<br><br>Article 19 - Protection des données personnelles
Données collectées 
Les données à caractère personnel qui sont collectées sur ce site sont les suivantes :
- ouverture de compte : lors de la création du compte de l'utilisateur, ses nom ;<br> prénom ;<br> adresse électronique ;<br> n° de téléphone ;<br> adresse postale ;<br> 
- connexion : lors de la connexion de l'utilisateur au site web, celui-ci enregistre, notamment, ses nom, prénom, données de connexion, d'utilisation, de localisation et ses données relatives au paiement ;<br>
- profil : l'utilisation des prestations prévues sur le site web permet de renseigner un profil, pouvant comprendre une adresse et un numéro de téléphone ;<br>
- paiement : dans le cadre du paiement des produits et prestations proposés sur le site web, celui-ci enregistre des données financières relatives au compte bancaire ou à la carte de crédit de l'utilisateur ;<br>
- communication : lorsque le site web est utilisé pour communiquer avec d'autres membres, les données concernant les communications de l'utilisateur font l'objet d'une conservation temporaire ;<br>
- cookies : les cookies sont utilisés, dans le cadre de l'utilisation du site. L'utilisateur a la possibilité de désactiver les cookies à partir des paramètres de son navigateur.
 
Utilisation des données personnelles 
Les données personnelles collectées auprès des utilisateurs ont pour objectif la mise à disposition des services du site web, leur amélioration et le maintien d'un environnement sécurisé. Plus précisément, les utilisations sont les suivantes :
-  accès et utilisation du site web par l'utilisateur ;<br>
-  gestion du fonctionnement et optimisation du site web ;<br>
-  organisation des conditions d'utilisation des Services de paiement ;<br>
-  vérification, identification et authentification des données transmises par l'utilisateur ;<br>
-  proposition à l'utilisateur de la possibilité de communiquer avec d'autres utilisateurs du site web ;<br>
-  mise en oeuvre d'une assistance utilisateurs ;<br>
-  personnalisation des services en affichant des publicités en fonction de l'historique de navigation de l'utilisateur, selon ses préférences ;<br>
-  prévention et détection des fraudes, malwares (malicious softwares ou logiciels malveillants) et gestion des incidents de sécurité ;<br>
-  gestion des éventuels litiges avec les utilisateurs ;<br>
-  envoi d'informations commerciales et publicitaires, en fonction des préférences de l'utilisateur.

Partage des données personnelles avec des tiers
Les données personnelles peuvent être partagées avec des sociétés tierces, dans les cas suivants :
-  lorsque l'utilisateur utilise les services de paiement, pour la mise en oeuvre de ces services, le site web est en relation avec des sociétés bancaires et financières tierces avec lesquelles elle a passé des contrats ;<br>
-  lorsque l'utilisateur publie, dans les zones de commentaires libres du site web, des informations accessibles au public ;<br>
-  lorsque l'utilisateur autorise le site web d'un tiers à accéder à ses données ;<br>
-  lorsque le site web recourt aux services de prestataires pour fournir l'assistance utilisateurs, la publicité et les services de paiement. Ces prestataires disposent d'un accès limité aux données de l'utilisateur, dans le cadre de l'exécution de ces prestations, et ont une obligation contractuelle de les utiliser en conformité avec les dispositions de la réglementation applicable en matière protection des données à caractère personnel ;<br>
-  si la loi l'exige, le site web peut effectuer la transmission de données pour donner suite aux réclamations présentées contre le site web et se conformer aux procédures administratives et judiciaires ;<br>
-  si le site web est impliquée dans une opération de fusion, acquisition, cession d'actifs ou procédure de redressement judiciaire, elle pourra être amenée à céder ou partager tout ou partie de ses actifs, y compris les données à caractère personnel. Dans ce cas, les utilisateurs seraient informés, avant que les données à caractère personnel ne soient transférées à une tierce partie.

Sécurité et confidentialité
 
Le site web met en oeuvre des mesures organisationnelles, techniques, logicielles et physiques en matière de sécurité du numérique pour protéger les données personnelles contre les altérations, destructions et accès non autorisés. Toutefois, il est à signaler qu'internet n'est pas un environnement complètement sécurisé et le site web ne peut pas garantir la sécurité de la transmission ou du stockage des informations sur internet.

Mise en oeuvre des droits des utilisateurs
 
En application de la réglementation applicable aux données à caractère personnel, les utilisateurs disposent des droits suivants, qu'ils peuvent exercer en faisant leur demande à l'adresse suivante : sylca0537@orange.fr.
<br>•	le droit d’accès : ils peuvent exercer leur droit d'accès, pour connaître les données personnelles les concernant. Dans ce cas, avant la mise en œuvre de ce droit, le site web peut demander une preuve de l'identité de l'utilisateur afin d'en vérifier l'exactitude. 
<br>•	le droit de rectification : si les données à caractère personnel détenues par le site web sont inexactes, ils peuvent demander la mise à jour des informations.
<br>•	le droit de suppression des données : les utilisateurs peuvent demander la suppression de leurs données à caractère personnel, conformément aux lois applicables en matière de protection des données. 
<br>•	le droit à la limitation du traitement : les utilisateurs peuvent de demander au site web de limiter le traitement des données personnelles conformément aux hypothèses prévues par le RGPD. 
<br>•	le droit de s’opposer au traitement des données : les utilisateurs peuvent s’opposer à ce que ses données soient traitées conformément aux hypothèses prévues par le RGPD.  
<br>•	le droit à la portabilité : ils peuvent réclamer que le site web leur remette les données personnelles qui lui sont fournies pour les transmettre à un nouveau site web.
<br><br>Evolution de la présente clause
Le site web se réserve le droit d'apporter toute modification à la présente clause relative à la protection des données à caractère personnel à tout moment. Si une modification est apportée à la présente clause de protection des données à caractère personnel, le site web s'engage à publier la nouvelle version sur son site. Le site web informera également les utilisateurs de la modification par messagerie électronique, dans un délai minimum de 15 jours avant la date d'effet. Si l'utilisateur n'est pas d'accord avec les termes de la nouvelle rédaction de la clause de protection des données à caractère personnel, il a la possibilité de supprimer son compte.
 
________________________________________
________________________________________
 
Annexe : 
 
Formulaire de rétractation 
(à compéter par le consommateur,
et à envoyer par lettre recomandée avec accusé de réception,
dans le délai maximum de 14 jours suivant la date de conclusion du contrat de prestation)
 
 
Formulaire de rétractation
 
À l'attention de :
SYLCA
située à : 24 RUE DE LA CHOUETTE, 21000, Dijon 
n° de téléphone : +330380500769
adresse mail : sylca0537@orange.fr
 
Je vous notifie, par la présente, ma rétractation du contrat portant sur....................., commandée le :  .........
 
Prénom et nom du consommateur : .................
Adresse du consommateur : .................
 
Date : ..................
 
Signature du consommateur

</div>
{% endblock %}
