<form method="post"
  action="{{
  path(
    'products_delete',
    {
      id: product.id
    }
  )
  }}"
  onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer ce produit ?');">
  <div class="text-center">
    <input type="hidden" name="_method" value="DELETE" />
    <input type="hidden"
      name="_token"
      value="{{ csrf_token('delete' ~ product.id) }}" />
    <button class="btn btn-danger w-75">Supprimer</button>
  </div>
</form>
