{% extends 'base.html.twig' %}

{% block title %}Modifier un produit
{% endblock %}

{% block body %}
	<h1 class="text-center text-white">Modifier un produit</h1>


	{{ include('products/_form.html.twig', {'button_label': 'Modifier'}) }}
	<div class="text-center">
		<a href="{{ path('products_index') }}" class="btn btn-white w-50" >Revenir au produits</a>
	</div>
	{{ include('products/_delete_form.html.twig') }}
{% endblock %}
